@page "/counter"
@using System.ComponentModel.DataAnnotations
@using DnDCharacterManager.Contracts.Notifications
@rendermode InteractiveServer
@inject IMessageBus bus

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="IncrementCount">Click me</MudButton>

<EditForm Model="@model" OnValidSubmit="SendEmail">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <MudTextField T="string"
                  Label="Email"
                  @bind-Value="Email"
                  For="@(() => Email)"
                  Immediate="true"/>

    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               ButtonType="ButtonType.Submit">
        Send Email
    </MudButton>
</EditForm>

@code {
    private readonly EmailFormModel model = new();
    private int currentCount;

    private string Email
    {
        get => model.Email ?? string.Empty;
        set => model.Email = value;
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task SendEmail()
    {
        await bus.SendAsync(new SendEmail(
            model.Email!,
            "Welcome",
            "Hello from Wolverine"
        ));
    }

    public class EmailFormModel
    {
        [Required(ErrorMessage = "Email is required!")]
        [EmailAddress(ErrorMessage = "The email address is invalid")]
        public string? Email { get; set; }
    }

}