@page "/weather"
@using Application.WeatherForecasts.Dtos
@using Application.WeatherForecasts.Queries
@attribute [StreamRendering]
@inject IMessageBus bus

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>
<MudTable Items="forecasts" Loading="forecasts == null" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Date</MudTh>
        <MudTh>Temp. (C)</MudTh>
        <MudTh>Temp. (F)</MudTh>
        <MudTh>Summary</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Date">@context.Date</MudTd>
        <MudTd DataLabel="Temp. (C)">@context.TemperatureC</MudTd>
        <MudTd DataLabel="Temp. (F)">@context.TemperatureF</MudTd>
        <MudTd DataLabel="Summary">@context.Summary</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private List<WeatherForecastDto>? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await bus.InvokeAsync<List<WeatherForecastDto>>(new GetWeatherForecasts());
    }

}